<!-- Start Slider Area  -->
@model StatisticsViewModel
@{
    var index = 0;
}
<div class="slider-area slider-style-1 variation-default height-950 bg_image bg_image--5" data-black-overlay="2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner text-left">

                    <h1 class="title theme-gradient display-two">
                        Rides <br>
                        <span class="header-caption">
                            <span class="cd-headline clip is-full-width">
                                <span class="cd-words-wrapper">
                                    <b class="is-visible theme-gradient">at low prices.</b>
                                    <b class="is-hidden theme-gradient">with friends.</b>
                                    <b class="is-hidden theme-gradient">Everywhere.</b>
                                </span>
                            </span>
                        </span>
                    </h1>
                    <ul class="list-icon">
                        <li>
                            <span class="icon background-transparent">
                                <i class="feather-check"></i>
                            </span> Your pick of rides at low prices.
                        </li>
                        <li>
                            <span class="icon background-transparent">
                                <i class="feather-check"></i>
                            </span> Trust who you travel with.
                        </li>
                        <li>
                            <span class="icon background-transparent">
                                <i class="feather-check"></i>
                            </span> Scroll, click, tap and go!
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Slider Area  -->
<!-- End About Area  -->
<!-- Start Seperator Area  -->
<div class="rbt-separator-mid">
    <div class="container">
        <hr class="rbt-separator m-0">
    </div>
</div>


<!-- End Seperator Area  -->
<!-- Start Main Counter Up Area  -->
<div class="rwt-counterup-area rn-section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center" data-sal="slide-up" data-sal-duration="700" data-sal-delay="100">
                    <h2 class="title w-600 mb--20">Statistics Around the World.</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="count-box counter-style-2 text-center">
                    <div>
                        <div class="count-number"><span class="counter">@Model.UsersCount</span></div>
                    </div>
                    <h5 class="title">Happy Clients.</h5>
                    <p class="description">
                        Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="count-box counter-style-2 text-center">
                    <div>
                        <div class="count-number"><span class="counter">@Model.AchievementsCount</span></div>
                    </div>
                    <h5 class="title">Achievements</h5>
                    <p class="description">
                        Corporate Ipsum is simply dummy text of the printing and typesetting
                        industry
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="count-box counter-style-2 text-center">
                    <div>
                        <div class="count-number"><span class="counter">@Model.TripsCount</span></div>
                    </div>
                    <h5 class="title">Compleated Trips</h5>
                    <p class="description">
                        Agency Ipsum is simply dummy text of the printing and typesetting
                        industry
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Main Counter Up Area  -->
<!-- Start Seperator Area  -->
<div class="rbt-separator-mid">
    <div class="container">
        <hr class="rbt-separator m-0">
    </div>
</div>
<!-- End Seperator Area  -->
<!-- Start final testimonial  -->
<div class="rwt-testimonial-area rn-section-gap">
    <div class="container">
        <div class="row mb--20">
            <div class="col-lg-12">
                <div class="section-title text-center" data-sal="slide-up" data-sal-duration="700" data-sal-delay="100">
                    <h3><span class="theme-gradient">Our Top Users</span></h3>
                </div>
            </div>
        </div>
        <div class="row rn-slick-dot rn-slick-arrow testimonial-activation row" style=" text-align: center; ">

            @for (int i = 0; i < 3; i++)
            {
                <div class="col-lg-12">
                    <!-- Start single Testimonial -->
                    <div class=" users-holder" tabindex="-1" style="justify-content: center; padding-top: 70px; ">
                        @for (int j = 0; j < 3; j++, index++)
                        {
                            <div class="rn-team team-style-default top-users-individual">
                                <div class="inner">
                                    <div class="thumbnail">
                                        <img src="@Model.TopUsers[index].ProfilePicture">
                                    </div>
                                    <div class="content">
                                        <h4 class="title">Rating: @Model.TopUsers[index].Rating </h4>
                                        <h4 class="title">Completed Trips: @Model.TopUsers[index].CompletedTripsCount </h4>
                                        <h6 class="subtitle theme-gradient">@Model.TopUsers[index].Username</h6>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                    <!-- End single Testimonial -->
                </div>
            }
        </div>


    </div>
</div>

@section Scripts{
    <script>
        if ($(window).width() < 1200) {
            $('.users-holder').addClass('top-users-mobile');
        } else {
            $('.users-holder').addClass('top-users');
        }
        $(window).resize(function () {
            if ($(window).width() < 1200) {
                $('.users-holder').removeClass('top-users').addClass('top-users-mobile');
            } else {
                $('.users-holder').removeClass('top-users-mobile').addClass('top-users');
            }
        })
    </script>
}