@model TripViewModel
@{
    int page = Model.CurrentPage;
    int maxPage = Model.MaxPages;
    string email = Context.User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Email).Value;
}


@section Styles{
    <link rel="stylesheet" href="~/css/custom.css">
}

@if (Model.UpcomingTrips is null || Model.UpcomingTrips.Count() == 0)
{
    <tr> No trips were found!</tr>
}
else
{
    <div class="col" style="width:auto; height:auto; overflow:auto; padding: 15px;">
        <table class="table-custom">
            <tr>
                <th scope="col">From</th>
                <th scope="col">To</th>
                <th scope="col">Departure Date</th>
                <th scope="col">Trip duration</th>
                <th scope="col">Distance</th>
                <th scope="col">Driver</th>
                <th scope="col">Passengers</th>
                <th scope="col">Free seats</th>
                <th scope="col">Car</th>
                <th scope="col">Price</th>
                <th scope="col">Additional comment</th>
                <th scope="col"><button class="btn btn-outline-success" onclick="showInPopup('@Url.Action("Create", "Trip")', 'Create')">Add New</button></th>
            </tr>


            @foreach (var tr in Model.UpcomingTrips)
            {
                string streetUrl = $"https:////www.google.com/maps/search/?api=1&query={tr.StartAddressStreet} {tr.StartAddressCity} {tr.StartAddressCountry}";
                string dir = $"https:////www.google.com/maps/dir/{tr.StartAddressStreet} {tr.StartAddressCity} {tr.StartAddressCountry}/{tr.DestinationAddressStreet} {tr.DestinationAddressCity} {tr.DestinationAddressCountry}/";
                string freeride = "FREE RIDE";
                <tr>
                    <td scope="col">@tr.StartAddressCity</td>
                    <td scope="col">@tr.DestinationAddressCity</td>
                    <td scope="col">@tr.DepartureTime.ToString("MMMM dd, yyyy")</td>
                    <td scope="col">@tr.DurationInMinutes</td>
                    <td scope="col">@tr.Distance</td>
                    <td scope="col">@tr.DriverName</td>
                    <td scope="col">@tr.PassengersCount</td>
                    <td scope="col">@tr.FreeSeats</td>
                    <td scope="col">@tr.DriverVehicle @tr.DriverVehicleColor</td>
                    <td scope="col">
                        @if (tr.Price > 0.00m)
                        {@tr.Price}
                    else
                    {
                        @freeride
                    }
                    </td>
                    <td scope="col">
                        @if (tr.AdditionalComment.Length > 25)
                        {
                            @tr.AdditionalComment.Substring(0, 25);
                        }
                        else
                        {
                            @tr.AdditionalComment
                        }
                    </td>
                    <td scope="col"><button class="btn btn-outline-primary btn-sm" onclick="openMaps('@dir')">Show trip</button></td>
                    @if (email == tr.DriverEmail)
                    {
                        <td scope="col"><button class="btn btn-outline-danger btn-sm" onclick="ExecuteEmptyAjax('@Url.Action("Leave", "Trip", new { id = tr.Id })', 'LEAVE')">Delete</button></td>

                    }
                    else
                    {
                        <td scope="col"><button class="btn btn-outline-danger btn-sm" onclick="ExecuteEmptyAjax('@Url.Action("Leave", "Trip", new { id = tr.Id })', 'LEAVE')">Leave</button></td>

                    }

                </tr>
             }

        </table>
        <button id="prev-page" style="text-align: center; margin: auto; display: flex; display: grid" class="btn btn-outline-primary btn-extra-large" onclick="ExecuteEmptyAjax('@Url.Action("Index", "Trip", new { p = page-1 })')">Previous Page</button>
        <button id="next-page" style="text-align: center; margin: auto; display: flex; display: grid" class="btn btn-outline-primary btn-extra-large" onclick="ExecuteEmptyAjax('@Url.Action("Index", "Trip", new { p = page+1 })')">Next Page</button>

    </div>
}


<script src="~/assets/js/vendor/jquery.min.js"></script>
<script>
    openMaps = (url) => {
        window.open(url, '_blank').focus()
    }
        $(document).ready(function () {
    if(@Model.CurrentPage == 0)
    $('#prev-page').prop('disabled', true);
    if (@Model.CurrentPage == @Model.MaxPages)
    $('#next-page').prop('disabled', true);
    if (@Model.CurrentPage != 0)
    $('#prev-page').prop('disabled', false);
    if (@Model.CurrentPage != @Model.MaxPages)
    $('#next-page').prop('disabled', false);
    });

</script>


